body {
    color: white;
    background-color: #000d53;
}

hr{
    height:2px;
    width: 40%;
    align-self: center;
    border-radius: 10px;
    background-color: #00b5e2;
}
h1 {
    font-weight: 700;
    font-size: 5rem;
    padding: auto;
    color: #00b5e2;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}
h2 {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
padding-bottom: 0px;
}

p{
    font-weight: 400;
    font-size: 1.8rem;
    padding: 10px 200px ;
    align-items: center;
    align-self: center;
}

#section-1 {
    background-color: #000d53;
}

#section-2 {
    background-color:#000d53;
}
#section-3 {
    align-content: center;
}
.myDiv {
    border: 5px outset #00b5e2;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00b5e2;
    float: center;
    display: inline-block;
    list-style-type: none;
}  

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #52c4e0;
}

.active {
background-color: #52c4e0;
}

.flex-container {
    display:flex;
    justify-content: center;
}

img{
    padding-top: 20px;
    height: 390px;
    width: 500px;
    align-self: center;
}
