body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

/* Titulos y textos*/
h1 {
    font-size: 70px;
    font-family: 'Bungee Inline', cursive;
    /*color: #EFFCB6;*/
    color: white;
}

h2 {
    font-size: 40px;
    font-family: 'Bungee Inline', cursive;
    /*color: #EFFCB6;*/
    color: white;
}

p {

}

/*NAV*/
.myDiv {

    text-align: center;
    display: flex;
    align-items: center;

}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
    float: right;
    list-style-type: none;
}  

li {
    float: left;
}

li a {
    color: rgb(184, 184, 184);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 20px;
    padding-right: 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: white;
}

.active {
    color: white;
}
/*NAV*/

/*Clases de Inicio*/
.a {
    text-align: center;
    padding-top: 5% ;
}

.b {
    width: 60%;
    height: 50%;
    top: 60%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(83, 83, 83);
    opacity: .5;
    transform: translate(-50%,-50%);
    padding: 10px;
    justify-content: center;
}
.opacity {
    opacity: 0.5;
}

/*STEM classes*/
.a1 {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}